YAZAN Real Estate.json
{
  "name": "YAZAN Real Estate",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -80
      ],
      "id": "7bf309e5-6106-421d-a70f-c18ba0ac171e",
      "name": "When chat message received",
      "webhookId": "4d3ea10e-9dcc-41bf-b60d-21983b4174a1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0fbff98-b40a-4bb1-bb55-5b097f14340d",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Agent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        -80
      ],
      "id": "d7ad083c-79ef-43eb-afe0-73cacbeae9b5",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an agent, an internal-facing real estate assistant designed to help real estate agents with their daily tasks.\n\nYou have access to four specialized tools to perform your duties.\nAlways confirm completion of each task by responding to the user when it’s done.\n\n📅 Context\n\nFor reference, today is {{$now}}.\n\n🧰 Available Tools\n\nUpdate Database\n\nPurpose: Add or update one record in the real estate database.\n\nInput: Information about a property, client, or transaction.\n\nBook a Meeting\n\nPurpose: Schedule a 1-hour event at the specified time.\n\nInput: Date, time, and any relevant meeting details.\n\nClient Search\n\nPurpose: Retrieve information about a client (e.g., interests, budget, or email).\n\nInput: Client name.\n\nResponse: Return the requested client details.\n\nDraft a Message\n\nPurpose: Compose a message to a given recipient containing specific content.\n\nStyle: Concise, professional, and friendly tone.\n\nCalculator\n\nPurpose: Perform accurate calculations when needed.\n\n✅ Response Rules\n\nBe clear and professional in all responses.\n\nAlways confirm once a task is complete.\n\nOnly use the tools when required to complete a task."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        -464
      ],
      "id": "68ec8f6b-6dae-424c-bab0-4a430e1ce7a6",
      "name": "AI Internal Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        -272
      ],
      "id": "f4b20f10-5b52-4608-a7dc-a5b46dd3f1f7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zutMLLDfR2qPLKcG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        -272
      ],
      "id": "5e9c0b08-faba-4658-bba7-8066afcba87e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw",
          "mode": "list",
          "cachedResultName": "Real Estate Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 730597960,
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw/edit#gid=730597960"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        112,
        -272
      ],
      "id": "6bc171c7-afc1-428e-9029-cb477e8a0a6a",
      "name": "Client Search",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "34VVwdjal0AqbLCV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw",
          "mode": "list",
          "cachedResultName": "Real Estate Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Properties",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        240,
        -272
      ],
      "id": "3eb542a6-463a-4a76-8fb7-4e1afe827a5a",
      "name": "Update Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "34VVwdjal0AqbLCV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        384,
        -272
      ],
      "id": "4ea7893a-dab8-4475-ae58-5af54f7d3285",
      "name": "Draft a Message",
      "webhookId": "5b9d8fe0-0766-48f9-8eb7-886952305493",
      "credentials": {
        "gmailOAuth2": {
          "id": "yhCZDAFj7lKRmOJl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aliceida647@gmail.com",
          "mode": "list",
          "cachedResultName": "aliceida647@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        -272
      ],
      "id": "69dcfca1-5bc8-4c2e-92f5-87ed68873146",
      "name": "Book a Meeting",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1Vn6KablMBfOtDDt",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a friendly, knowledgeable, and persuasive real estate assistant. Your goal is to help clients find the perfect property by answering their questions clearly, accurately, and engagingly. Always use the available tools to provide verified information about properties, listing agents, and availability.\nNever invent or assume details from outside sources.\n\n🧰 Tools\n\nProperty Q&A Tool:\nUse this tool to retrieve verified data about property details, pricing, location, listing agents, and availability. Summarize the most relevant information in a concise and helpful reply tailored to the user's query.\n\nNotify an Agent Tool:\nIf a user shows interest in a property, politely request their name and email address. Then, send an agent notification that includes:\n\nThe property the client is interested in\n\nThe client’s name\n\nThe client’s email\nThis ensures timely follow-up by the real estate agent.\n\nCalculator Tool:\nUse this tool to handle any numerical or financial calculations, such as mortgage estimates, price comparisons, or cost breakdowns.\n\n💡 Tone & Behavior\n\nBe polite, confident, and personable — like a trusted real estate consultant.\n\nUse natural, conversational language.\n\nWhen possible, make helpful suggestions (e.g., “Would you like me to check similar listings in that area?”).\n\nKeep replies concise but informative."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        -64
      ],
      "id": "fe8155fd-cdf1-4b31-acd1-19cfa8616165",
      "name": "AI Client Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        96
      ],
      "id": "ed347d8b-75dc-4346-8540-eaa4bbce18b7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "zutMLLDfR2qPLKcG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        96
      ],
      "id": "88f3286b-5d8a-4d17-b6bd-8858b6f0bfa6",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw",
          "mode": "list",
          "cachedResultName": "Real Estate Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Properties",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U_Ixv1-K5BVCk3Z739_Eon6K0Lf7fRy_gkmWrqCvVSw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        48,
        160
      ],
      "id": "1c154817-441e-4ac9-83f9-efe293581a33",
      "name": "Get Properties",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "34VVwdjal0AqbLCV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        176,
        160
      ],
      "id": "dbecd40c-8213-44f1-9465-9563643dd74d",
      "name": "Draft a Message1",
      "webhookId": "501e599e-681e-4ad2-a515-015dbbae1e22",
      "credentials": {
        "gmailOAuth2": {
          "id": "yhCZDAFj7lKRmOJl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aliceida647@gmail.com",
          "mode": "list",
          "cachedResultName": "aliceida647@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        160
      ],
      "id": "de1ba579-661c-437f-bf09-9a84410b9e1d",
      "name": "Book a Meeting1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1Vn6KablMBfOtDDt",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Internal Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Client Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Internal Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Internal Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Client Search": {
      "ai_tool": [
        [
          {
            "node": "AI Internal Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Database": {
      "ai_tool": [
        [
          {
            "node": "AI Internal Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft a Message": {
      "ai_tool": [
        [
          {
            "node": "AI Internal Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book a Meeting": {
      "ai_tool": [
        [
          {
            "node": "AI Internal Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Properties": {
      "ai_tool": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft a Message1": {
      "ai_tool": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book a Meeting1": {
      "ai_tool": [
        [
          {
            "node": "AI Client Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9a6503d-e28a-4675-b0c3-3eb25b88d3c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a1bcd3d9d4c76069d3ec258f5b8d7011210aa7eda147c49aa25e83f0cdb0be5f"
  },
  "id": "M2AD6WtpNiKAf5io",
  "tags": []
}